<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Detector</title>
</head>
<body>
    <h1>Welcome to Face Detector</h1>
    <form action="#" method="POST" enctype="multipart/form-data">
    
        {% csrf_token %}
        {{ form.as_table }}

        <input type="submit" value="upload">

    </form>

    <!-- The first element of the list shows the number of faces in the photo and the last element 
        shows whether the image is accepted or not. All the middle elements represent the queries (if any).-->

    {% if upload %}
    
        <table>
            <img src="\media\ml_out\process.jpg" alt="">
            {% for c in result %}
                <tr>
                    <td> {{ c }} </td>
                </tr>
            {% endfor %}
        </table>
    
    {% endif %}


</body>
</html>